@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default; }

a {
  cursor: pointer; }

.portfolio {
  position: fixed;
  width: 200px;
  height: 40px;
  bottom: 75px;
  right: 75px;
  padding-top: 8px;
  cursor: pointer;
  text-decoration: none;
  background: #151515;
  color: #fff;
  border: 2px solid #151515;
  border-radius: 3px;
  text-align: center;
  font-family: "Roboto", "Arial";
  font-weight: 400;
  font-size: 16px;
  z-index: 999; }
  .portfolio:hover {
    text-decoration: none;
    background: transparent;
    color: #151515;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear; }

.top_header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  font-family: "Roboto", "Arial";
  font-weight: 400;
  font-size: 14px;
  color: #9a9a9a; }
  .top_header_left > div {
    display: inline-block;
    padding: 10px 0; }
    .top_header_left > div img {
      margin-right: 5px; }
    .top_header_left > div span {
      padding-right: 20px; }
  .top_header img {
    width: 20px;
    height: 16px; }
  .top_header_right > a {
    display: inline-block;
    padding: 10px 35px 10px 0;
    color: #9a9a9a; }
  .top_header_right > a:hover {
    text-decoration: none; }
  .top_header button.log_in {
    width: 115px;
    margin-right: 15px;
    border: none;
    background: #ffffff;
    font-family: "Gilda Display", sans-serif;
    font-size: 14px;
    color: #9a9a9a;
    outline: none; }
    .top_header button.log_in img {
      width: 25px;
      height: 25px; }
  .top_header button.sign_in {
    width: 60px;
    margin-left: 25px;
    border: none;
    background: #ffffff;
    font-family: "Roboto", "Arial";
    font-weight: 400;
    font-size: 14px;
    color: #9a9a9a;
    outline: none; }
  .top_header .lang span:hover, .top_header .pay_options:hover, .top_header .terms:hover,
  .top_header .review:hover, .top_header .my_booking:hover, .top_header .mail:hover {
    color: #c19b76;
    cursor: pointer; }
  .top_header button.sign_in:hover,
  .top_header button.log_in:hover {
    height: 35px;
    background-color: #c19b76;
    color: #fff;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear; }

/* модальное окно */
.log_in_modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .log_in_modal_content {
    position: relative;
    background-color: #c19b76;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px 50px;
    width: 600px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .log_in_modal_content .log_in_modal_header {
      width: 100%; }
      .log_in_modal_content .log_in_modal_header .modal_title {
        font-family: "Gilda Display", sans-serif;
        font-size: 30px;
        color: #fff; }

.sign_in_modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .sign_in_modal_content {
    position: relative;
    background-color: #c19b76;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px 50px;
    width: 600px;
    max-width: 100%;
    height: 450px;
    max-height: 100%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .sign_in_modal_content .sign_in_modal_header {
      width: 100%; }
      .sign_in_modal_content .sign_in_modal_header .modal_title {
        font-family: "Gilda Display", sans-serif;
        font-size: 30px;
        color: #fff; }

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal_body {
  width: 100%; }
  .modal_body form {
    text-align: left; }
    .modal_body form input {
      display: block;
      width: 100%;
      height: 40px;
      margin: 20px auto;
      padding: 2px 15px;
      background-color: #f9f9f9;
      border: none;
      outline: none; }
    .modal_body form input:active, .modal_body form input:focus {
      border: 2px solid #1c1c1c; }
    .modal_body form button {
      left: -50%;
      width: 150px;
      height: 40px;
      background: #1c1c1c;
      font-family: "Roboto", "Arial";
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      border: none;
      outline: none; }
    .modal_body form button:hover {
      opacity: 0.9; }

nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 20px 0;
  background: #1c1c1c; }
  nav .logo {
    font-family: "Roboto", "Arial";
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff; }
    nav .logo_inner {
      font-size: 8px;
      margin-top: -5px;
      text-align: center; }
  nav .top_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav .top_menu > li {
      display: block;
      position: relative;
      list-style-type: none;
      font-family: "Roboto", "Arial";
      font-size: 16px;
      font-weight: 400;
      list-style-type: none; }
      nav .top_menu > li > a {
        color: #9a9a9a;
        text-decoration: none; }
    nav .top_menu > li:hover a {
      color: #fff;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
              transition-timing-function: linear; }
    nav .top_menu .inner_menu {
      background: #1c1c1c;
      visibility: hidden;
      opacity: 0;
      min-width: 200px;
      min-height: 150px;
      position: absolute;
      padding-top: 10px;
      left: 0;
      display: none;
      text-align: left;
      z-index: 90; }
      nav .top_menu .inner_menu > li {
        list-style-type: none;
        padding: 5px 0; }
        nav .top_menu .inner_menu > li > a {
          font-family: "Roboto", "Arial";
          font-size: 16px;
          font-weight: 400;
          color: #9a9a9a;
          text-transform: uppercase;
          text-decoration: none; }
      nav .top_menu .inner_menu > li:hover {
        background: #151515; }
      nav .top_menu .inner_menu > li:hover a {
        color: #fff; }
    nav .top_menu > li:hover .inner_menu, nav .top_menu > li .inner_menu:hover {
      display: block;
      visibility: visible;
      opacity: 1; }

/*Hamburger icon */
.menu_icon_wrapper {
  display: none;
  width: 30px;
  height: 30px; }

.mobile_nav {
  display: none; }

header {
  width: 100%;
  height: 325px;
  position: relative;
  padding-top: 125px;
  background: url(../../images/foto/booking_page/header.jpg) center center/cover no-repeat;
  text-align: center; }
  header span {
    font-family: "Gilda Display", sans-serif;
    font-size: 56px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase; }
  header .gradient {
    position: absolute;
    top: 245px;
    width: 100%;
    height: 80px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #1c1c1c), to(transparent));
    background: linear-gradient(0deg, #1c1c1c 25%, transparent 100%); }
    header .gradient .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 35px; }
      header .gradient .navigation li {
        list-style-type: none; }
        header .gradient .navigation li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          text-decoration: none;
          font-family: "Roboto", "Arial";
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          letter-spacing: 2px; }
          header .gradient .navigation li a .circle {
            width: 25px;
            height: 25px;
            margin-right: 20px;
            border: 2px solid #fff;
            border-radius: 100%;
            text-align: center;
            padding-left: 1px;
            padding-bottom: 15px; }
          header .gradient .navigation li a .checked {
            width: 25px;
            height: 25px;
            margin-right: 20px;
            border-radius: 100%;
            text-align: center;
            padding-left: 1px;
            padding-bottom: 15px;
            border: 2px solid #1c1c1c;
            background-color: #1c1c1c; }
        header .gradient .navigation li a:hover .circle {
          border: 2px solid #1c1c1c;
          background-color: #1c1c1c;
          -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s;
          -webkit-transition-timing-function: linear;
                  transition-timing-function: linear; }

.sidebar {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 65px; }
  .sidebar img {
    width: 100%;
    height: 250px; }
  .sidebar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .sidebar .dark_block {
    width: 100%;
    min-height: 380px;
    padding: 15px 20px;
    background-color: #1c1c1c;
    text-align: center; }
    .sidebar .dark_block span {
      font-family: "Roboto", "Arial";
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase; }
    .sidebar .dark_block_check {
      width: 130px;
      height: 165px;
      background-color: #151515;
      text-align: center;
      margin-top: 20px;
      padding: 20px 0; }
      .sidebar .dark_block_check_title {
        font-family: "Roboto", "Arial";
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #c19b76; }
      .sidebar .dark_block_check_info span {
        font-family: "Gilda Display", sans-serif;
        font-size: 45px;
        color: #c19b76; }
      .sidebar .dark_block_check_info div > div {
        font-family: "Gilda Display", sans-serif;
        font-size: 14px;
        color: #9a9a9a; }
      .sidebar .dark_block_check_info div > .day {
        font-family: "Roboto", "Arial";
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #9a9a9a; }
    .sidebar .dark_block_info {
      width: 130px;
      height: 90px;
      background-color: #151515;
      text-align: center;
      margin-top: 20px; }
      .sidebar .dark_block_info_text span {
        font-family: "Gilda Display", sans-serif;
        font-size: 45px;
        color: #c19b76; }
      .sidebar .dark_block_info_text .text {
        margin-top: -10px;
        font-family: "Roboto", "Arial";
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #9a9a9a; }
  .sidebar .total_price {
    width: 100%;
    min-height: 115px;
    background-color: #151515;
    text-align: center;
    padding: 25px 50px;
    font-family: "Roboto", "Arial";
    font-weight: 400;
    font-size: 46px;
    color: #ffffff;
    text-transform: uppercase; }
    .sidebar .total_price sup, .sidebar .total_price sub {
      font-size: 20px; }
  .sidebar .title {
    font-family: "Gilda Display", sans-serif;
    font-size: 24px;
    color: #1c1c1c; }
  .sidebar .services {
    width: 100%;
    min-height: 160px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
    .sidebar .services_check {
      margin-top: 25px; }
      .sidebar .services_check_var {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left; }
      .sidebar .services_check_var span {
        display: block;
        padding-left: 15px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        color: #9a9a9a; }
      .sidebar .services_check_var > div > input[type='checkbox'] {
        display: none; }
      .sidebar .services_check_var > div > label {
        color: #000;
        cursor: default;
        font-weight: normal; }
      .sidebar .services_check_var > div > label:after {
        content: " ";
        display: inline-block;
        position: relative;
        text-align: center;
        text-indent: 0px;
        width: 1rem;
        height: 1rem;
        background: #FFF;
        border: 1px solid #9a9a9a;
        border-radius: 0.2rem; }
    .sidebar .services input:checked + label:after {
      content: " ";
      background: #9a9a9a; }
    .sidebar .services input:disabled + label:after {
      background: #eee;
      color: #aaa; }
  .sidebar .information {
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    text-align: left; }
    .sidebar .information p {
      font-family: "Roboto", "Arial";
      font-size: 16px;
      font-weight: 400;
      color: #9a9a9a; }
      .sidebar .information p input {
        width: 100%;
        height: 40px;
        border: none;
        background-color: #f9f9f9;
        padding-left: 15px;
        outline: none; }
      .sidebar .information p textarea {
        width: 100%;
        height: 165px;
        border: none;
        background-color: #f9f9f9;
        padding-left: 15px;
        padding-top: 15px;
        outline: none; }
      .sidebar .information p input:active, .sidebar .information p input:focus, .sidebar .information p textarea:active, .sidebar .information p textarea:focus {
        border: 2px solid #c19b76; }
    .sidebar .information button {
      width: 140px;
      height: 45px;
      border: 3px solid #c19b76;
      background-color: #c19b76;
      color: #fff;
      font-family: "Roboto", "Arial";
      font-weight: 900;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      outline: none; }
    .sidebar .information button:hover {
      background: inherit;
      border: 3px solid #c19b76;
      color: #c19b76;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
              transition-timing-function: linear; }

footer {
  margin-top: 30px;
  width: 100%;
  height: 245px;
  background-color: #1c1c1c; }
  footer .footer_title {
    margin-top: 65px;
    font-family: "Gilda Display", sans-serif;
    font-size: 20px;
    color: #fff; }
  footer .footer_subtitle {
    font-family: "Roboto", "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9a9a9a;
    letter-spacing: 2px; }
  footer .footer_img {
    margin-top: 15px;
    font-family: "Gilda Display", sans-serif;
    font-size: 26px;
    color: #fff; }
    footer .footer_img img {
      margin-right: 15px;
      cursor: pointer; }
  footer form {
    margin-top: 15px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
    footer form input {
      width: 255px;
      height: inherit;
      background-color: #151515;
      border: none;
      padding-left: 15px;
      outline: none; }
    footer form input:active, footer form input:focus {
      border: 2px solid #c19b76; }
    footer form button {
      width: 90px;
      height: inherit;
      background-color: #c19b76;
      border: 3px solid #c19b76;
      font-family: "Roboto", "Arial";
      font-weight: 900;
      font-size: 10px;
      text-transform: uppercase;
      color: #fff;
      outline: none; }
    footer form button:hover {
      background: inherit;
      border: 3px solid #c19b76;
      color: #c19b76;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
              transition-timing-function: linear; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .top_header {
    padding: 10px 0; }
    .top_header span {
      padding-right: 5px; }
    .top_header_right > a {
      display: inline-block;
      padding: 10px 5px 10px 0; }

  nav .logo_inner {
    text-align: left;
    padding-left: 2rem; }

  .sidebar .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .top_header {
    display: none; }

  nav .logo_inner {
    text-align: left;
    padding-left: 2rem; }
  nav .top_menu {
    display: none; }
  nav .menu_icon_wrapper {
    display: block;
    margin-top: -20px; }
    nav .menu_icon_wrapper .menu_icon {
      z-index: 20;
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #fff; }
      nav .menu_icon_wrapper .menu_icon::before {
        position: absolute;
        top: -10px;
        left: 0;
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: #fff;
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
      nav .menu_icon_wrapper .menu_icon::after {
        position: absolute;
        top: 10px;
        left: 0;
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: #fff;
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon {
    background: transparent; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .mobile_nav {
    z-index: 7;
    display: block;
    position: absolute;
    right: -350px;
    top: 0;
    min-height: 860px;
    width: 350px;
    padding: 50px;
    background-color: #1c1c1c;
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in; }
    nav .mobile_nav .mobile_nav_link {
      display: block;
      text-decoration: none;
      font-family: "Gilda Display", sans-serif;
      color: #fff;
      font-size: 18px;
      padding-bottom: 12px; }
    nav .mobile_nav .mobile_nav_link:hover {
      color: #c19b76; }
  nav .mobile_nav_inactive {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  .sidebar .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sidebar .total_price {
    padding: 25px 10px; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  .top_header {
    display: none; }

  nav .logo {
    font-size: 16px; }
    nav .logo_inner {
      display: none; }
  nav .top_menu {
    display: none; }
  nav .menu_icon_wrapper {
    display: block;
    margin-top: -20px;
    right: 30px; }
    nav .menu_icon_wrapper .menu_icon {
      z-index: 20;
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #fff; }
      nav .menu_icon_wrapper .menu_icon::before {
        position: absolute;
        top: -10px;
        left: 0;
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: #fff;
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
      nav .menu_icon_wrapper .menu_icon::after {
        position: absolute;
        top: 10px;
        left: 0;
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: #fff;
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon {
    background: transparent; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .menu_icon_wrapper.menu_icon_active .menu_icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  nav .mobile_nav {
    z-index: 7;
    display: block;
    position: absolute;
    right: -350px;
    top: 0;
    height: 860px;
    width: 350px;
    padding: 50px;
    background-color: #1c1c1c;
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in; }
    nav .mobile_nav .mobile_nav_link {
      display: block;
      text-decoration: none;
      font-family: "Gilda Display", sans-serif;
      color: #fff;
      font-size: 18px;
      padding-bottom: 12px; }
    nav .mobile_nav .mobile_nav_link:hover {
      color: #c19b76; }
  nav .mobile_nav_inactive {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  header .gradient {
    height: 100px; }
    header .gradient .navigation {
      padding-top: 5px; }
      header .gradient .navigation li a {
        margin-top: 15px; }
        header .gradient .navigation li a .circle, header .gradient .navigation li a .checked {
          margin-right: 10px; }

  .sidebar .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  footer {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */